﻿@page "/authentication/{action}"
@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject IExternalLwaService ExternalLwaService
@inject IJSRuntime JS
@using BlazorAuthApp.Auth

<div>
    <AuthorizeView>
        <Authorized>
            <div>
                <button type="button" @onclick="Logout">Logout</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <h1>Login with Amazon</h1>
            <p>
                Click the button below to login with your Amazon credentials.
                This will open a new window window and you'll be returned here when the process has completed.
            </p>
            <p>
                Make sure that "popups" are allowed for this page.
            </p>
            <img alt="Login with Amazon" hidden="@(_currentLoginStage != LoginStage.NotStarted)"
                 src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
                 width="156" height="32"
                 @onclick="Login">

            <p hidden="@(_currentLoginStage != LoginStage.WaitingForAmazon)">
                Waiting for the Amazon login process to complete - if you can't see the window, check that popups are enabled.
            </p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    [Parameter]
    public string? Action { get; set; }

    private DotNetObjectReference<Authentication>? objRef;

    private enum LoginStage { NotStarted, WaitingForAmazon, Complete }
    private LoginStage _currentLoginStage = LoginStage.NotStarted;
    
    protected override Task OnInitializedAsync()
    {
        objRef = DotNetObjectReference.Create(this);
        return Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        switch (Action?.ToLowerInvariant())
        {
            case "logout":
                await Logout();
                break;
        }
    }

    private async Task Login()
    {
        _currentLoginStage = LoginStage.WaitingForAmazon;
        var state = await ExternalLwaService.GetStateAsync();

        await JS.InvokeAsync<object>("window.AmazonLoginHelper.runLoginProcess", objRef, state);
    }

    [JSInvokable]
    public async Task NotifyLoginCompletion(string state, string code)
    {
        _currentLoginStage = LoginStage.Complete;
        await AccountService.CompleteLogin(state, code);
        NavigationManager.NavigateTo("/");
    }
    
    [JSInvokable]
    public void NotifyLoginFailed()
    {
        _currentLoginStage = LoginStage.Complete;
        NavigationManager.NavigateTo("/");
    }

    public void Dispose()
    {
        objRef?.Dispose();
    }

    private async Task Logout()
    {
        await AccountService.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }

}