﻿@page "/"

<div>
    <AuthorizeView>
        <Authorized>
            <h1>Your Dashboard - Your Claims</h1>
            <div>
                @foreach (var claim in UserClaim)
                {
                    <div>@claim.Type - @claim.Value</div>
                }
            </div>
            <div>

            </div>
        </Authorized>
        <NotAuthorized>
            <h1>You need to be logged in to view this page</h1>
            
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{ 
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
    private IEnumerable<Claim> UserClaim
    {
        get
        {
            var auth =  AuthenticationState?.Result;
            if (auth?.User?.Identities != null && auth.User.Identity!.IsAuthenticated)
                return auth.User.Claims.ToList();
            
            return new List<Claim>();
        }
    }

}